.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top:0%;
    left: 0;
    background-color:  #282c34;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: px;
    box-shadow: 0px 2px 3px #212121;
  }
  .channelpic{

    height:10%;
    width:100%;

  }
  
  .sidenav a {
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(66, 65, 65);
  }
  .chatitem{
    list-style-type:none;
  }
  .bottom-right {
    position: absolute;
   top: 8px;
    left: 5px;
    font-size:12px;
  }
  .container {
    position: relative;
    height:10%;
    width:100%;
    text-align: center;
    color: white;
  }