.message {
    
  height:auto;
  width: 80%;
  margin-bottom: 10px;
  font-size:10px;
}
  .messagebox{
    position: absolute;
    height:100%;
    width:80%;
    left:15%
   
  }
.messages{
    position:relative;
    width:70%;
    top: 15%;
    list-style-type:none;
    overflow:hidden; overflow-y:scroll
}
input[type=text]{
    position: absolute;
    top:80%;
    left:10%;
    width:50%;
    height:5%;
    padding: 2px 2px;
    color:#fff;
    background-color: #424242;
    display: inline-block;
    border-radius: 3px;
    
  }
  .sendbutton{
    position: absolute;
    left:71%;
    top:81%;
  }
  .container {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: #282c34;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .time-right {
    float: left;
    color: #aaa;
  }
  .avatar{
    float: left;
    height:20px;
    width:20px;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}