.message {
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: auto;
    margin-bottom: 10px;
    font-size:10px;
  }
  .messagebox{
    position: absolute;
    height:100%;
    width:100%;
   
  }
.messages{
    position:relative;
    top: 15%;
    list-style-type:none;
}
input[type=text]{
    position: absolute;
    top:80%;
    left:20%;
    width:50%;
    height:5%;
    padding: 2px 2px;
    color:#fff;
    background-color: #545658;
    display: inline-block;
    border-radius: 3px;
    
  }
  .sendbutton{
    position: absolute;
    left:71%;
    top:81%;
  }
  